<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contex</title>
    <link rel="stylesheet" href="day1style.css">
</head>
<body>
    <div class="container">
        <div data-key="65" class="key"><p>A</p></div>
        <div data-key="66" class="key"><p>B</p></div>
        <div data-key="67" class="key"><p>C</p></div>
        <div data-key="68" class="key"><p>D</p></div>
    </div>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="script.js"></script>
</body>
</html>