<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brand New Day</title>
    <link rel="stylesheet" href="parolstyle.css" />
  </head>
  <body>
    <div class="container">
      <form class="change">
        <label for="">Create a Parol</label>
        <input type="password" name="parol1" />
        <label for="">Rewrite the Parol</label>
        <input type="password" name="parol" />
        <button type="button" id="save">SAVE PAROL</button>
      </form>
    </div>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
