<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="welcome.css" />
</head>
<body>
    <div class="banner">
    <h1>BRAND NEW DAY</h1>
        <form class="password">
            <label>Parol for Login</label>
            <input type="password" name="logInParol" autofocus/><br>
            <a id="logIn">Log In</a>
        </form>
    </div>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="script.js"></script>
</body>
</html>